# HTTP Server
API_PORT=8080
API_HOST=0.0.0.0

# BLOCKCHAIN
BLOCKCHAIN_PRIVATE_KEY=[Same value from SimpleStorage/.env.example]
BLOCKCHAIN_CHAIN_ID=1337
BLOCKCHAIN_CONTRACT_ADDRESS=0x42699A7612A82f1d9C36148af9C77354759b210b
BLOCKCHAIN_RPC_URL=http://localhost:8545

# DATABASE
DATABASE_URL=postgres://postgres:postgres@localhost:5432/app-besu-node-db?sslmode=disable
